<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:section name="Nav">
        <nav class="top-bar" id="main-menu">
            <div class="grid-container">
                <div class="mainnav title-bar-left show-for-small-only">
                    <span class="title-bar-title">
                        <button type="button" class="menu-icon light" data-toggle="offCanvas"></button>
                        <button type="button" data-toggle="offCanvas">Menü</button>
                    </span>
                </div>

                <div class="top-bar hide-for-small-only">
                    <div class="top-bar-left">
                        <f:render partial="Menu/Foundation6Menu" section="SubMenuMenu" arguments="{startUID: 1, class: 'horizontal'}"/>
                    </div>
                </div>
            </div>
        </nav>
    </f:section>

    <f:section name="Header">
        <header class="callout large primary">
            <div class="grid-container text-center">
                <h1>MRE-IT Test Seite</h1>
            </div>
        </header>
    </f:section>


    <f:section name="Footer">
        <footer class="callout medium primary">
            <div class="grid-container text-center">
                <p>MRE-IT Test Seite • Copyright Matthias Reinhardt 2012-2016</p>
            </div>
        </footer>
    </f:section>


</div>