window.addEventListener("load", function(){
    window.cookieconsent.initialise({
        palette: {
            popup: {
                background: '#000'
            },
            button: {
                background: '#f1d600'
            }
        },
        content: {
            message: "<f:translate key="cookieConsentMessage" extensionName="testsite"/>",
            learnMore: "<f:translate key="cookieConsentLearnMore" extensionName="testsite"/>",
            dismiss: "<f:translate key="cookieConsentDismiss" extensionName="testsite"/>",
            link: "<f:uri.page pageUid="settings.cookieconsent.link" absolute="true"/>",
            showLink: false,
            theme: "{settings.cookieconsent.theme}",
            container: "{settings.cookieconsent.container}",
            path: "{settings.cookieconsent.path}",
            expiryDays: "{settings.cookieconsent.expiryDays}"
        },
        position: "bottom-left"
    });

});
