window.cookieconsent_options = <![CDATA[{]]>
    message: '{f:translate(key: "cookieConsentMessage", extensionName: "testsite")}',
    learnMore: '{f:translate(key: "cookieConsentLearnMore", extensionName: "testsite")}',
    dismiss: '{f:translate(key: "cookieConsentDismiss", extensionName: "testsite")}',
    container: '{settings.container}',
    path: '{settings.path}',
    expiryDays: {settings.expiryDays},
    <f:if condition="{settings.cookieconsent.link}">link: '{f:uri.page(pageUid: settings.cookieconsent.link, absolute: 1)}',</f:if>
    <f:if condition="{settings.cookieconsent.theme}"><f:then>theme: '{settings.cookieconsent.theme}',</f:then><f:else>theme: false</f:else></f:if>
    <f:if condition="{settings.cookieconsent.domain}">domain: '{settings.cookieconsent.domain}',</f:if>
};
