{namespace n=GeorgRinger\News\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:section name="RoyalSlider">
        <div id="news-gallery" class="royalSlider newsGallery rsDefault">
            <f:for each="{news}" as="newsItem" iteration="iterator">
                <div>
                    <f:if condition="{newsItem.falMediaPreviews}">
                        <f:then>
                            <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
                                <f:if condition="{mediaElement.originalResource.type} == 2">
                                    <f:image image="{mediaElement}" class="rsImg" crop="c"
                                             title="{mediaElement.originalResource.title}"
                                             alt="{mediaElement.originalResource.alternative}"/>
                                </f:if>
                            </f:alias>
                        </f:then>
                        <f:else>
                            <f:if condition="{settings.displayDummyIfNoMedia}">
                                                <span class="no-media-element">
                                                        <f:image
                                                                src="{settings.list.media.dummyImage}"
                                                                title=""
                                                                alt=""
                                                                class="rsImg"
                                                        />
                                                </span>
                            </f:if>
                        </f:else>
                    </f:if>
                    <div class="newsGalleryTextContent">
                        <h3>{newsItem.title}
                            <time class="float-right" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                                <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                                <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
                            </time>
                        </h3>
                        <f:if condition="{newsItem.teaser}">
                            <f:then>
                                <p itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</p>
                            </f:then>
                            <f:else>
                                <p itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.stripTags()}</p>
                            </f:else>
                        </f:if>
                        <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}" class="more">[mehr lesen]</n:link>
                    </div>
                    <div class="rsTmb">
                        <h4>{newsItem.title}</h4>
                        <time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
                            <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                            <meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
                        </time>
                    </div>
                </div>
            </f:for>
        </div>
    </f:section>
</div>