<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="col5050" description="2 Spalten a 50%">
            <flux:form.option name="group" value="Testsite" />

            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column name="left" style="width: 50%;" label="left"/>
                    <flux:grid.column name="right" style="width: 50%;" label="right"/>
                </flux:grid.row>
            </flux:grid>
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <b>2 Spalten 50/50</b>
    </f:section>

    <f:section name="Main">
        <div class="row">
            <div class="small-6 column">
                <flux:content.render area="left" />
            </div>
            <div class="small-6 column">
                <flux:content.render area="right" />
            </div>
        </div>
    </f:section>
</div>