<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
    xmlns:mreit="http://typo3.org/ns/MREIT/Testsite/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="testsite_trainer" label="Trainer" description="Trainer Details">


			<flux:field.input name="trainer" required="true" label="Name des Trainers"/>
			<flux:field.file  name="trainerImage" label="Bild des Trainers" allowed="jpg, png, gif"/>
            <flux:field.input name="jahrgang" label="Jahrgang"/>
            <flux:field.input name="grad" label="Grad"/>
            <flux:field.text  name="beschreibung" enableRichText="false" label="Beschreibung (Markdown Formatierung)"/>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
		<strong>Trainer:</strong><br />
		{trainer}
	</f:section>

	<f:section name="Main">
        <div class="row trainer">
            <div class="small-3 column">
                <f:if condition="{trainerImage}">
                    <f:then>
                        <f:image src="{trainerImage}" alt="{headline}"/>

                    </f:then>
                    <f:else>
                        <img src="/typo3conf/ext/testsite/Resources/Public/Icons/dummy-person-male.png" class="round" width="100px" height="100px" alt="Dummy-Bild – kein Bild ausgewählt">
                    </f:else>
                </f:if>
            </div>
            <div class="small-9 column">
                <f:if condition="{trainer}"><p><b>{trainer}</b></p></f:if>
                <f:if condition="{jahrgang}"><p>Jahrgang: {jahrgang}</p></f:if>
                <f:if condition="{grad}"><p>{grad}</p></f:if>
                <f:if condition="{beschreibung}">
                    <mreit:format.markdown>{beschreibung}</mreit:format.markdown>
                </f:if>
            </div>
        </div>
	</f:section>
</div>
